*{margin:0;
padding:0;
}
body{
font-family:calibri;
font-size:16px;

}

.container{
border:px solid green;
width:1024px;
position:relative;
top:0%;
left:50%;
transform: translate(-50%,0%);
height:auto;
padding:10px;

}
h2{
font-family:calibri,sans-serif;
color:#ffffff;
padding:10px;
background:#2da2d8;
font-size:18px;
}
h3{
text-align:center;
padding:10px;
background:#2da2d8;
font-size:18px;
color:#ffffff;
}
.top-header{
    border:px solid yellow;
    background:#2da2d8;
    color:#ffffff;    
}
.top-content{
    
display:flex;
flex-wrap:wrap;

}
.logo{
    border:px solid blue;
flex:1 0 250px;
width:250px;
box-sizing:border;}
.user{
    flex:1 0 350px;
    width:250px;
    box-sizing:border;
    border:px solid red;
    line-height: 25px;

}
.chatapp-wrapper{
width:768px;
position: relative;;
top:0px;
left:50%;
transform: translate(-50%,0%);
box-shadow:1px 1px 10px 1px #ccc;
display:flex;
padding:0px;
flex-wrap:wrap;
height:480px;
}
.side-panel{
flex:1 0 200px;
height:auto;
}
.search-section{
padding:10px;
}
.search_friends{
padding:10px;
border:none;
border-bottom:1px solid #eee;
width:180px;

}
.chat-section{
flex:1 0 350px;
border-left:2px solid #eee;
height:auto;
}
.contacts{
padding:10px;
border-bottom:1px solid #eee;
margin:15px;
font-family:calibri;


}
